# =============================================================================
# /backend/.env  —  VARIABLES INTERNAS DE LA APLICACIÓN NESTJS
# Este archivo lo carga el contenedor "backend" en tiempo de ejecución.
# El host "db" es el nombre del servicio dentro de la red Docker.
# =============================================================================

# --- Servidor ---
PORT=3001
NODE_ENV=development

# --- Base de datos (Prisma) ---
# El host "db" resuelve al contenedor de PostgreSQL dentro de la red Docker
DATABASE_URL=postgresql://postgres:postgres_secret@db:5432/prueba_tecnica_db?schema=public

# --- Autenticación JWT ---
JWT_SECRET=super_secret_jwt_key_change_in_production
JWT_EXPIRATION=7d
